<header class="sticky top-0 bg-black flex flex-col gap-y-5">
  <h1 class="pb-3 self-center w-1/2 text-blue-200 border-b-4 border-blue-800  text-6xl font-bold font-mono text-center mt-3 mb-3">Projects Resume</h1>
  <nav class="flex justify-center items-center gap-x-10 text-xl font-bold">
    <a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }" class="text-blue-400 hover:text-lime-500 cursor-pointer text-xl font-bold">Home</a>
    <p class="text-blue-400 text-xl font-bold">|</p>
    <a routerLink="/games" routerLinkActive="active" class="text-blue-400 hover:text-lime-500 cursor-pointer text-xl font-bold">Games</a>
    <p class="text-blue-400 text-xl font-bold">|</p>
    <a routerLink="/tools" routerLinkActive="active" class="text-blue-400 hover:text-lime-500 cursor-pointer text-xl font-bold">Tools</a>
    <p class="text-blue-400 text-xl font-bold">|</p>
    <a routerLink="/sites" routerLinkActive="active" class="text-blue-400 hover:text-lime-500 cursor-pointer text-xl font-bold">Sites</a>
    <p class="text-blue-400 text-xl font-bold">|</p>
    <a routerLink="/contact" routerLinkActive="active" class="text-blue-400 hover:text-lime-500 cursor-pointer text-xl font-bold">Contact</a>
  </nav>
</header>
