<div class="flex flex-col items-center justify-center h-3/4">
  <p class="typing-effect w-1/2 text-blue-300 font-mono text-center rounded-lg text-xl">
    Welcome on my new project, who will regroup all projects i have done during my Dev's formation in Donkeyschool.
  </p>
  <p class="typing-effect2 w-1/2 text-blue-500 font-mono text-center rounded-lg text-xl">
    You will find here, somes games i have made, somes training website and somes tools..
  </p>
  <p class="typing-effect3 w-1/2 text-blue-800 font-mono text-center rounded-lg text-xl">
    Enjoy it !<span class="blink text-blue-500">_</span>
  </p>
</div>
