<!-- Canvas pour l'animation des bulles -->
<canvas id="backgroundCanvas"></canvas>

<!-- Contenu principal -->
<div class="content">
    <div class="search-bar-main">
        <img src="./google.png">
        <form action="http://google.com/search" method="get" target="_blank">
            <input type="text" name="q" placeholder="Google search">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="search-bar">
        <img src="./google.png">
        <h2 class="search-content">Google Traduction</h2>
        <a class="btn" href="https://translate.google.com/?hl=fr&tab=TT&sl=auto&tl=fr&op=translate" target="_blank">Go</a>
    </div>
    <div class="search-bar">
        <img src="./google.png">
        <h2 class="search-content">Google Maps</h2>
        <a class="btn" href="https://www.google.fr/maps/" target="_blank">Go</a>
    </div>
    <h2>Dev Tools</h2>
    <div class="tools-container">
        <div class="tool-container">
            <img src="./gpt.png">
            <p>ChatGPT</p>
            <a href="http://chatgpt.com" target="_blank">Go</a>
        </div>
        <div class="tool-container">
            <img src="./github.png">
            <p>GitHub</p>
            <a href="https://github.com/" target="_blank">Go</a>
        </div>
        <div class="tool-container">
            <img src="./color.png" class="rotate">
            <p>HTML Colors</p>
            <a href="https://htmlcolorcodes.com/fr/" target="_blank">Go</a>
        </div>
        <div class="tool-container">
            <img src="./v0.png">
            <p>V 0</p>
            <a href="https://v0.dev/" target="_blank">Go</a>
        </div>
        <div class="tool-container">
            <img src="./copilot.png">
            <p>Copilot</p>
            <a href="https://copilot.microsoft.com/" target="_blank">Go</a>
        </div>
        <div class="tool-container">
            <img src="./bolt.png">
            <p>Bolt</p>
            <a href="http://bolt.new" target="_blank">Go</a>
        </div>
        <div class="tool-container">
            <img src="./wiseduck.png">
            <p>Wise Ducks Dev</p>
            <a href="https://wiseduckdev.com/fr/gpts" target="_blank">Go</a>
        </div>
        <div class="tool-container">
            <img src="./tailwind.png">
            <p>TailWind</p>
            <a href="https://tailwindcss.com/" target="_blank">Go</a>
        </div>

    </div>
</div>

<script src="background.js"></script>
