<div class="h-3/4 flex gap-[10%] mt-5">
  <div class="tools-container w-[45%] h-2/3 m-2 rounded-lg flex flex-col items-center">
    <img src="./weather.png" alt="Dev Tools" class="w-[90%] h-3/4 rounded mt-2">
    <p class="text-white mt-10 text-lg font-mono">This is a Javascript tool providing the weather for a given city.</p>
    <a routerLink="/tools/weather" class="text-blue-400 hover:text-lime-500 cursor-pointer text-xl font-bold">🚀 Try it 🚀</a>
  </div>
  <div class="tools-container w-[45%] h-2/3 m-2 rounded-lg flex flex-col items-center">
    <img src="./dev-tools.png" alt="Dev Tools" class="w-[90%] h-3/4  rounded mt-2">
    <p class="text-white mt-10 text-lg font-mono">This is a single page made with HTML, CSS and Javascript, bringing the best dev tools to use.</p>
    <a routerLink="/tools/dev-tools" class="text-blue-400 hover:text-lime-500 cursor-pointer text-xl font-bold">🚀 Try it 🚀</a>
  </div>
</div>
