<div class="h-3/4 flex gap-[10%] mt-5">
  <div class="games-container w-[45%] h-2/3 m-2 rounded-lg flex flex-col items-center justify-center">
    <img src="./tam.png" alt="Dev Tools" class="w-[90%] rounded mt-2">
    <p class="text-white mt-10 text-lg font-mono">This is a Javascript game representing a Tamagotchi</p>
    <a routerLink="/games/tamagotchi" class="text-blue-400 hover:text-lime-500 cursor-pointer text-xl font-bold">🕹️ Play 🕹️</a>
  </div>
  <div class="games-container w-[45%] h-2/3 m-2 rounded-lg"></div>
</div>
